h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
  color:#45A29E;
}

input {
  width: 30%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Add this CSS to your component or a separate CSS file */

h1 {
  text-align: center;
}

ul {
  list-style:none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}



/* Optional: Style for the link */


/* Add this CSS to your component or a separate CSS file */

body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f4f4f4; */
  background-color: #1F2833;
  color:#45A29E;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin-left:27%;
}
li {
  background-color: #fff;
  width:50%;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px 60px; /* Adjusted margin values */
  padding: 10px;
  border-radius: 4px;
  transition: margin 0.3s ease-in-out; /* Added a simple margin transition for animation */
}

li:hover {
  margin: 20px 60px; /* Adjusted margin values on hover for animation effect */
}




input,
select {
  width: 30%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Profile Container */
.cont {
  margin: 0 auto;
  /* padding: 20px; */
  
  /* background-color: #CED4DA; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Profile Title */
.profile-title {
  color: #45A29E;
  font-size: 28px;
  margin-bottom: 10px;
}

/* Profile Email */
.profile-email {
  font-size: 16px;
  margin: 10px 0;
}

/* Booking Section */
.booking-section {
  margin-top: 20px;
  
  font-size: 24px;
}

/* .booking-list{
  display:flex;
} */

/* Flight Name */
.flight-name {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Origin and Destination */
.origin-destination {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Add more styles as needed */

.profile{
  margin-left:90%;
}
.link{
  text-decoration: none; /* Remove the default underline */
  color: #007bff; /* Set the link color to blue (you can change it to your preferred color) */
  cursor: pointer; /* Show a pointer cursor on hover */
}


.profile {
  width: 40px; /* Set a fixed width for the circle */
  height: 40px; /* Set a fixed height for the circle */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  background-color:#007bff; /* Set the background color (you can change it to your preferred color) */
  color: black; /* Set the text color to white */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 90%; /* Remove margin for spacing */
}
/* Add your global styles here */

.link {
  text-decoration: none;
  color: #007bff;
}
.profile {
  position: fixed;
  font-size: 24px;
  color: white;
  margin-top: 34%;
  margin-left: 95%;
  background-color: #45A29E;
  padding: 10px; /* Add some padding for better hover effect */
  border-radius: 50%; /* Optional: Add a circular border */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile:hover {
  background-color: #fff;
  color:#45A29E; /* Change to your desired hover color */
  transform: scale(1.1); /* Optional: Add a scaling effect on hover */
}


h1 {
  font-size: 28px;
}

/* .flight-cards {
  display: flex;
  flex-wrap: wrap;
}

.flight-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.flight-card:hover {
  background-color: #f4f4f4; 
  transform: scale(1.05);
  color: #1F2833;
  h2{
    color: #1F2833;
  }
}

.flight-card h2 {
  font-size: 23px;
  margin-bottom: 8px;
 
} */

.flight-cards {
  display: flex;
  flex-wrap: wrap;
}

.flight-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.flight-card:hover {
  background-color: #f4f4f4; 
  transform: scale(1.05);
  h2{
    color: #1F2833;
  }
}

.flight-card h2 {
  font-size: 23px;
  margin-bottom: 8px;
  color: #f4f4f4;
}

.flight-card::before{
  content: "";
  display: block;
  width: 30px; /* Adjust the size of the flight image */
  height: 30px; /* Adjust the size of the flight image */
  background-image: url("../public/images/airplane.gif"); 
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 10px; /* Adjust the position of the flight image */
  left: 10px; /* Adjust the position of the flight image */
  border-radius: 50%; /* Make the flight image round */
  border: 1px solid #ddd;
}

.flight-card p {
  margin-bottom: 8px;
}

.flight-card p:last-child {
  margin-bottom: 0;
}
.flighthead{
  color:#f4f4f4;
}

p {
  margin: 8px 0;
}

button {
  background-color: #66FCF1;
  color: #0B0C10;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #45A29E;
  color: #fff;
}


.admin{
  display: flex;

}
.left{
  width: 100%;

}
.right{
  width: 100%;
  margin-left: -20%;
}
.list{
  background-color: #fff;
  width:100%;
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px 60px; /* Adjusted margin values */
  padding: 10px;
  border-radius: 4px;
  transition: margin 0.3s ease-in-out;
}

.inner{
  
  background-color:#1F2833;
}

.App{
  margin-top:7%;
  text-align: center;
  background-color: #1F2833;
}
flight-list{
  margin-top: -10%;
}

/* Add styles for the container holding the booking items */
.booking-list {
  display: flex;
   flex-wrap: wrap;
}


Style each booking item */
.booking-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 10px;
  background-color: #fff;
  width: calc(33.33% - 32px);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Add hover effect to booking items */
.booking-item:hover {
  transform: scale(1.05);
}

/* Additional styles to improve spacing */
.sep {
  width: 100%;
  display:flex;
  box-sizing: border-box;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .booking-item {
    width: calc(50% - 32px);
  }
}

@media screen and (max-width: 480px) {
  .booking-item {
    width: 100%;
  }
}

/* Navbar.css */

.navbar {
  background-color: #283845;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar:hover {
  background-color: #1F2833;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add this CSS to your existing styles for .lin */

.lin {
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
.lin span{
  color:  lightseagreen;

}
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}
.lin:hover {
  transform: scale(1.1); /* Add a scaling effect on hover */
  color: #66fcf1; /* Change color on hover */
  box-shadow: 0 0 0px rgba(102, 252, 241, 0.8); /* Add a subtle box shadow on hover */
}


.nav-links a {
  color: white;
  margin-left: 40px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #66FCF1;
}

.nav-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #66FCF1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.nav-links a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
/* LoadingSpinner.css */

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.funny{
  margin-bottom: 10%;
}

.spinner {
  border: 4px solid rgba(102, 252, 241, 0.3); /* #66FCF1 with reduced opacity */
  /* border-radius: 50%; */
  border-top: 4px solid #66FCF1;
  width: 40px;
  height: 40px;
 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.book{
  display:flex;
  justify-content: space-between;
}
.bookleft{
  width: 100%;
}
.bookright{
  width: 100%;
  margin-left: -20%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.additional-sections {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  height: 200px; /* Set an appropriate height for your map */
  width: 80%; /* Set an appropriate width for your map */
  background-color: #555; /* Placeholder color for map */
  margin-top: 20px;
}

.weather-check {
  margin-top: 20px;
}

.profile-container {
  display: flex;
  margin: 0 auto;
  padding: 20px;

}
.recent-bookings-title{
  margin-top: 20px;
  color: #1F2833;
  font-size: 24px;
}

.profile-section {
  flex: 1;
  /* max-width: 500px; */
  margin-left: 10%;
  max-width:300px;

  position: relative;
}

.profile-card {
  border-radius: 8px;
  padding: 20px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  width: 100%;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px); /* Add translation on hover for a lift effect */
}

.profile-title {
  margin-top: 0;
  color:#1F2833;
  font-style:italic;
}

.profile-email {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #1F2833; /* Add transition for smooth hover effect */

}.profile-email {
  margin-bottom: 10px;
  border-bottom: 3px solid #1F2833;
  margin-bottom: -4px; /* Add 1px space before the line */

  transition: border-bottom 0.3s ease; /* Add transition for smooth hover effect */
}


.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #45A29E;
  color: #fff;
  display: flex;
margin-left: 40%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  top: -25px; /* Position the profile image above the profile card */
  left: 20px; /* Adjust as needed */
  transition: background-color 0.3s ease; /* Add transition for color change on hover */
}

.profile-image:hover {
  background-color: #999; /* Change background color on hover */
}


.booking-section {
 display: flex;
 
  padding-left: 20px;
  margin: 0 auto;

}



.profile-title {
  margin-top: 0;
}

.profile-email {
  margin-bottom: 0;
}
.profileright{
  width:70%;
}

.booking-title {
  margin-top: 0;
}

.booking-list {
  list-style-type: none;
  padding: 0;
  margin-left: 23%;
  display:flex;
}

.booking-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.see-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #0056b3;
}




.app-container {
  display: flex;
  margin-right:20%;
 
}

.app {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  height:400px;
  margin-top: 80px;
}
.weather{
  width:100px;
  height:100px;
  border-radius:30%;
  margin-right:35%;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
 
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 8px 16px;
  cursor: pointer;
  margin-top:-5%;
  outline: none;
}

.weather-info {
  text-align: center;
}

.location {
  font-size: 24px;
  font-weight: bold;
}

.temperature {
  font-size: 48px;
  margin: 10px 0;
}

.condition {
  font-size: 24px;
  margin-bottom: 5px;
}

.description {
  font-size: 16px;
}
.description {
  font-size: 1rem;
}

 .benefits-container {
  margin-left:10%;
} 

.benefits-container h2 {
  text-align: center;
  margin-left:-34%;
  font-size: 1.5rem;


}

.benefits-container p {
  font-size: 1rem;
  width:50%;
  margin-left:7%;
  margin-bottom: 10px;
}

.benefits-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.benefits-container ul li {
  font-size: 1rem;
}

.ticket {
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  margin-bottom: 20px;
  display:flex;
}

.ticket-heading {
  margin-top: 0;
}

.ticket-details {
  margin-bottom: 15px;
}

.ticket-details p {
  margin: 5px 0;
}

.ticket-qr {
  text-align: center;
}

/* Additional styling for QR code if needed */
.imag{
  width: 170px; /* Adjust size as needed */
  height: 170px;
  margin-top:30px;
  margin-left:40px; /* Adjust size as needed */
}

.booking-list li{
  width: 60%;
  height:0%;
}